#bodySection {
    border: 2px solid white;
    color: white;
    margin: 2% auto 0 auto;
    padding: 2%;
    background-color: grey;
    min-width: 700px;
    max-width: 750px;
}

h1#welcome{
    margin: 3%;
    font-size: 20px;
}

.but {
    height: 50px;
}

th.head {
    border-bottom: 1px solid white;
}

th.location {
    border-right: 1px solid white;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    background-color: darkgrey;
}

hr {
    width: 95%;
}

p > * {
    font-size: 20px;
}

li {
    margin: 0px 5%;
    position: relative;
    left: 6%;
}
table {
    margin: auto auto;
}

td, th{
    padding: 2px 3px;
    margin: auto auto;
    vertical-align: middle;
}

td:hover{
    color: rgb(252, 238, 195);
    font-weight: bolder;
    font-style: italic;
}

#submitButton {
    margin: 10px 10px;
}

#input {
    float: left;
    width: 150px;
    margin: 10px auto;
}

fieldset{
    border-top: 1px dashed white;
}

img {
    margin-top: 2%;
    width: 50%;
    height: 50%;
}