#bodySection {
    border: 2px solid white;
    color: white;
    margin: 5% auto 0 auto;
    padding: 5%;
    background-color: grey;
    min-width: 700px;
    max-width: 750px;
}

h1#welcome{
    margin: 3%;
    font-size: 20px;
}

.inputs{
    float: left;
    width: 150px;
}

th.head {
    border-bottom: 1px solid white;
}

th.location {
    border-right: 1px solid white;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: white;
    background-color: darkgrey;
}

hr {
    width: 95%;
}
ol, ul, h2{
    text-align: left;
    margin: 0px 10%;
}
p > * {
    font-size: 20px;
}
ol, ul{
    margin: 3% 0px;
}
li {
    margin: 0px 5%;
    position: relative;
    left: 6%;
}
table {
    margin: auto auto;
}

td, th{
    padding: 2px 3px;
    margin: auto auto;
    vertical-align: middle;
}

td:hover{
    color: rgb(252, 238, 195);
    font-weight: bolder;
    font-style: italic;
}